{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	{% block header %}
		<header class="header">
			<div class="titre">
				<h1 class="header-titre">Passion Voyage</h1>
				<h2 class="header-caption">
					Partager nos voyages en famille.</h2>
			</div>
			{% block navigation %}
				{% include "includes/_menu.html.twig" %}
			{% endblock %}
		</header>
	{% endblock %}

	{% block main %}
		
		<div class="main">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1 class="formulaire-titre">Bonjour  {{ (app.user) ? app.user.prenom : 'Cher visiteur' }} ✅</h1>
					</div>
					<div class="col-md-6">
						<a class="formulaire-titre" href="{{ path('app_login')}}">Se connecter</a>
					</div>
				</div>
				<hr>
				<hr>
				<!-- Message récupéré après validation de l'adresse mail -->
				{% for message in app.flashes('success') %}
					<div class="alert alert-success" role="alert">{{ message }}</div>
				{% endfor %}

				{# ---------------Affiche les actualités du site --------------------------------#}
				<div class="row">
					<h1 class="formulaire-titre">Nos actualités</h1>
					{% for actualite in actualites %}
						<div class="col-md-4">
						<div class="card bg-light text-dark " style="width: 18rem;">
							<img src="{{ asset('assets/img/desert.jpg') | imagine_filter('photo_article')}}" class="card-img" alt="Mmon image">
							
								<h5 class="card-title">{{ actualite.titre | raw}}</h5>
								<p class="card-text">{{ actualite.contenu | raw}}</p>
								<p class="card-text"><span class="fa fa-calendar"></span>{{ actualite.publierAt | date('d/m/Y') }}</p>
							
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="row">
					<hr>
					{% if is_granted('ROLE_USER') %}
						<div class="col-md-3">
							<p class="text-muted"> Rechercher un article </p>
						</div>
						<div class="col-md-9">
							{# --- Formulaire de recherche --- #}
							{{ form_start(form, {attr: {class: 'd-flex'}} ) }}
							<div class="form-control">
							{{ form_label(form.mots, 'Entrer un ou plusieurs mots')}}
							{{ form_widget(form.mots, {'attr':{'class': 'formulaire-input'}} )}}
							</div>
							<div class="form-control">
							{{ form_label(form.categorie, 'Choisir une catégorie')}}
							{{ form_widget(form.categorie)}}
							</div>
							<hr>
							{{ form_end(form)}}

						</div>
						<hr>
					{% endif %}
				</div>

				{# --------------------------------  Résultat de la recherche -------------------------#}

				{% if articlesRecherche | length > 0 %}
				<div class="row">
					<h1 class="formulaire-titre">{{ articlesRecherche | length }} article(s) trouvé(s).</h1>
						{% for item in articlesRecherche %}
							<div class="card" style="width: 18rem;">
								<img src="{{ asset('uploads/images/'~ item.media[0].nom) | imagine_filter('photo_article') }}" class="card-img-top mt-2" alt="Photo article">
							<div class="card-header">
								{{ item.publierAt | date('Y')}} - {{item.titre}}
							</div>
							<div class="card-body">
								<h5 class="formulaire-titre">{{ item.titre}}</h5>
								<h6 class="card-subtitle mb-2 text-muted">{{ item.legende}}</h6>
								<div class="texte-normal">{{ item.sommaire | raw}}</div>
								<a href="{{ path('article_afficher', {slug : item.slug})}}" class="formulaire-bouton btn-info">Lire l'article </a>
							</div>
							<div class="card-footer text-muted">
								Publié le {{ item.publierAt | date('d/m/Y')}}
							</div>
							</div>
						{% endfor %}
				</div>	
				{% endif %}

				{# -----------------  Affiche les articles ---------------------------#}
				<div class="row">
					<h1 class="formulaire-titre">Articles récents</h1>

					{% for article in articles %}
						<div class="card" style="width: 18rem;">

							<img src="{{ asset('uploads/images/'~ article.media[0].nom) | imagine_filter('photo_article') }}" class="card-img-top mt-2" alt="Photo article">
					
							<div class="card-header">
								{{ article.publierAt | date('Y')}} - {{article.titre}}
							</div>
							<div class="card-body">
								<h5 class="formulaire-titre">{{ article.titre}}</h5>
								<h6 class="card-subtitle mb-2 text-muted">{{ article.legende}}</h6>
								<div class="texte-normal">{{ article.sommaire | raw}}</div>
								<a href="{{ path('article_afficher', {slug : article.slug})}}" class="formulaire-bouton btn-info">Lire l'article </a>
							</div>
							<div class="card-footer text-muted">
								Publié le {{ article.publierAt | date('d/m/Y')}}
							</div>
						</div>
					{% else %}
						<div>
							<img src="{{ asset('assets/img/blog_logo.png') | imagine_filter('photo_article') }}" alt="logo">
						</div>
						<div>
						<tr>
                            <td colspan="10" class="texte-normal">Soyez le premier à publier un article</td>
                        </tr>
						
						</div>
					{% endfor %}
				</div>
				<div class="row">
					<hr>
				</div>
				
				
			</div>
		</div>
{% endblock %}

{% block sidebar %}
	<aside class="sidebar">
		<div class="row">
			<h1 class="formulaire-titre"> Qui sommes nous ?</h1>
			<div>
			<p class="texte-normal">Bonjour et bienvenue.</p>
			<p class="texte-normal">Nous vous proposons de partager nos impressions sur les voyages que nous avons effectués, et livrer nos conseils et astuces pour éviter, peut-être, de refaire nos erreurs.</p>
			<figure >
				<img src="{{ asset('assets/img/onpart.jpg') | imagine_filter('photo_article')}}" alt="onpart">
				
			</figure>
			<p class="texte-normal texte-centre"><i>Toujours prêts à prendre la route</i></p>
			</div>
		</div>
		
		<div class="row">
			<h1 class="formulaire-titre"> Pourquoi nous suivre?</h1>
			<p class="texte-normal"> Nous espérons vous faire découvrir certains lieux et vous révéler nos petits secrets et astuces.
			<br>
			Si l'aventure vous tente, nous serons heureux de vous faire entrer dans notre cercle et vous permettre de participer encore plus à nos activités.
			<br>
			<br>
			Avec le bouton 'Sinscrire' juste en dessous, vous allez nous rejoindre en toute confidentialité et respect de vos données personnelles que nous nous engageons à conserver uniquement pour les besoins de fonctionnement du site.</p>
			<p class="texte-normal texte-centre">
				Lire notre politique de confidentialité :
			<!-- Button trigger modal -->
			<button type="button" class="formulaire-bouton btn-info" data-bs-toggle="modal" data-bs-target="#rgpd">
			<i>Notre gestion des données personnelles</i>
			</button>
			</p>
			<p class="texte-normal texte-centre">
			<a href="{{ path('app_register') }}" > <button type="submit" class="formulaire-bouton btn-info">S'inscrire</button></a>
			</p>

		</div>
		<!-- Modal -->
		<div class="modal fade" id="rgpd" tabindex="-1" aria-labelledby="rgpdlLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Gestion des données personnelles</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
					<p class="texte-normal"> Vous pouvez consulter les données vous concernant en vous connectant avec vos identifiants et ouvrir le lien "Mon profil".</p>

					<p class="texte-normal"> Les informations recueillies sur ce site sont enregistrées dans un fichier informatisé par l'administrateur responsable du site pour la gestion des membres inscrits et de leurs activités sur le site.

					Les données collectées seront accessibles et communiquées aux seules personnes inscrites.</p>

					<p class="texte-normal">Les données sont conservées pendant la durée de validité de l'inscription. Les données personnelles et les informations y étant attachées seront supprimées quand l'utilisateur décide de ne plus être inscrit sur le site.</p>

					<p class="texte-normal">Vous pouvez accéder aux données vous concernant, les rectifier, demander leur effacement. Vous pouvez retirer à tout moment votre consentement au traitement de vos données.</p>

					<p class="texte-normal">Consultez le site cnil.fr pour plus d’informations sur vos droits.

					Pour exercer ces droits ou pour toute question sur le traitement de vos données par le site, vous pouvez contacter l'administrateur responsable du site : [admin@passion-voyage.org] </p>
					</div>
					<div class="modal-footer">
						<button type="button" class="formulaire-bouton btn-info" data-bs-dismiss="modal">Fermer</button>
					</div>
				</div>
			</div>
		</div>

	</aside>
{% endblock %}

<!-- ######### Bas de page ########### -->
{% block footer %}
	{% include "includes/_footer.html.twig" %}
{% endblock %}{% endblock %}
