{% extends 'base.html.twig' %}

{% block title %}A propos de {% endblock %}

{% block body %}
	{% block header %}
		<header class="header">
			<div class="titre">
				<h1 class="header-titre">Passion Voyage</h1>
				<h2 class="header-caption">
					Partager nos voyages en famille.</h2>
			</div>
			{% block navigation %}
				{% include "includes/_menu.html.twig" %}
			{% endblock %}
		</header>
	{% endblock %}
	{% block main %}
		<div class="main">
			<div class="container">

				<h1 class="article-titre"> A propos de nous </h1>
				<hr>
				<div class="row">
					<div class="col-md-4">
						<figure class="image-90">
							<img src="{{ asset('assets/img/nous.jpg') | imagine_filter('photo_article')}}" style="border-radius: 15px"alt="Nous">
						</figure>
					</div>
					<div class="col-md-8">
						<p class="texte-normal">C'est nous ! Jean-Yves et Marie ! </p>
						<p class="texte-normal"> Nous sommes heureux de vous accueillir sur notre site.</p>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-8">
						<p class="texte-normal" style="text-align:right">Notre famille se joint à nous pour vous saluer.</p>
					</div>
					<div class="col-md-4 ">
						<figure class="image-180">
							<img src="{{ asset('assets/img/Tous.jpg') | imagine_filter('photo_article')}}" style="border-radius: 15px" alt="Tous">
						</figure>
					</div>
				</div>
			</div>	
		</div>
	{% endblock %}

	{% block sidebar %}
		<aside class="sidebar">
			<figure class="image-ronde">
				<img src="{{ asset('assets/img/oksanne.jpg') }}" width="120px" heigth="120px" alt="Oksanne">
			</figure>
			<p class="texte-normal texte-centre"><i>Oksanne est notre chienne</i></p>
			<hr>
			<figure class="image-ronde">
				<img src="{{ asset('assets/img/mister570.jpg') }}" width="120px" heigth="120px" alt="Oksanne">
			</figure>
			<p class="texte-normal texte-centre">Notre premier camping-car</p>
			<hr>
			<figure>
				<img src="{{ asset('assets/img/cc.jpg') }}" width="120px" heigth="120px" alt="Oksanne">
			</figure>
			<p class="texte-normal texte-centre">Notre camping-car</p>
			<hr>
		</aside>
	{% endblock %}

	<!-- ######### Bas de page ########### -->
        {% block footer %}
            {% include "includes/_footer.html.twig" %}
        {% endblock %}
{% endblock %}
