{% extends 'base.html.twig' %}

{% block title %}Liste des membres{% endblock %}

{% block body %}
    <h1>Liste des membres</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Roles</th>
                <th>Pseudo</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Code postal</th>
                <th>Téléphone</th>
                <th>Valide</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.pseudo }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.adresse }}</td>
                <td>{{ user.ville }}</td>
                <td>{{ user.cp }}</td>
                <td>{{ user.telephone }}</td>
                <td>{{ user.isVerified ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('profilUser', {'id': user.id}) }}">Voir le profil</a>
                    <a href="{{ path('modifierProfil', {'id': user.id}) }}">Modifier le profil</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">Aucune correspondance.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ajouterUser') }}">Ajouter un utilisateur</a>
{% endblock %}
